* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bodyProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 45vw;
  background-color: rgb(58, 57, 57);

  .profile {
    display: flex;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: white;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    .imgProfile {
        width: 10em;
        height: 10em;
        border-radius: 5em;
      }
  }

  
  .cardProfile {
    display: flex;
    height: 30em;
    width: 30em;
    border-radius: 1em;
    background-color: #f0f0f0;
    font-size: medium;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.reservas {
  display: flex;
  align-items: center;
  justify-content: row;
}

