* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.allOrders {
  width: 98.9vw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;

  .orderContent {
    width: 100vw;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .orderCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 21em;
    margin: 2em;
    color: white;
    border: 1.7px solid #525252;
    border-radius: 1em;
    background-color: hsla(220, 2%, 30%, 0.529);
    &:hover {
      // opacity: 0.5;
      transform: scale(1.02);
      transition: 0.8s;
    }
    .info {
      margin-top: 1em;
    }
    .poster_path{
        width: 15em !important;
    }
    .faStart{
        color: goldenrod;
    }
  }
}
