.headerBody{
    height: 5em;
    background-color: $color2;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    top: 0;
    z-index: 100;
}
.imgUser{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    transition: 0.3s;
}
