.footerBody {
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7035189075630253) 51%,
    rgba(0, 0, 0, 0.008841036414565795) 100%
  );
  background-color: rgb(43, 42, 42);
  color: white;

  .socialIcon {
    align-content: center;
    width: 4em;
    height: 4em;
  }
  #github {
    color: rgb(133, 131, 131);
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
  #linkInd {
    color: rgb(64, 89, 197);
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
}
