* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.allOrders {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  z-index: 10;


  .orderContent {
    width: 100vw;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .orderCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 21em;
    margin: 2em;
    color: white;
    border-radius: 2em;
    background-color: hsla(220, 2%, 30%, 0.529);
    &:hover {
      // opacity: 0.5;
      transform: scale(1.02);
      transition: 0.8s;
    }
    .info {
      margin-top: 1em;
    }
  }
 
  .order {
    line-height: 2.2;
  }
  .VerPelicula {
    display: flex;
    position: relative;
    align-content: flex-end;
    border-radius: 2em;
    color: rgb(228, 228, 228);
    background-color: hsla(220, 2%, 30%, 0.529);
    left: 10em;
    align-items: center;
    width: 4em;
    height: 4em;
    cursor: pointer;
    &:hover {
        transform: scale(1.3);
        transition: 0.5s;
    }
  }
}

.rentalsNone {
  background-color: hsla(220, 2%, 30%, 0.529);
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
}

