@import "./scss/Variables.scss";
@import "./Containers/Home/Home.scss";
@import "./Components/Header/Header.scss";
@import "./Components/Footers/Footer.scss";
@import "./Containers//Login/Login..scss";
@import "./Components/Boton/Boton.scss";
@import "./Components/Scroll/Scroll.scss";
@import "./Containers/Register/Register.scss";
@import './Components/ScrollMovies/ScrollTopRate.scss';
@import "./Containers/Profile/Profile.scss";
@import "./Containers/InfoMovies/InfoMovies.scss";
@import "./Containers/RentMovie/RentMovie.scss";
@import "./Containers/Rentals/Rentals.scss";
@import "./Components/Spinner/Spinner.scss";




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
